substitutions:
  name: dc-fan
  board: esp32dev
  friendly_name: DC Fan

esphome:
  name: $name

esp32:
  board: $board
  framework:
    type: arduino

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  password: "180c36e9ef169a93054ca440295f0fd8"
  platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "$friendly_name Fallback Hotspot"
    password: "9EKK4dgZ6NwN"

captive_portal:

output:
  - platform: ledc
    pin: GPIO16
    id: fan_id
    frequency: 1220 Hz


fan:
  - platform: speed
    output: fan_id
    name: "$friendly_name trig"

sensor:
  - platform: wifi_signal
    name: "$friendly_name WiFi Signal"
    update_interval: 15s
    filters:
      - sliding_window_moving_average:
          window_size: 15
          send_every: 15
          send_first_at: 15
    icon: mdi:wifi
  - platform: pulse_counter
    name: "$friendly_name speed"
    update_interval: 15s
    pin: 17
  - platform: dht
    pin: 26
    temperature:
      name: "$friendly_name Temperature"
    humidity:
      name: "$friendly_name Humidity"
    update_interval: 30s
    model: AM2302
  - platform: uptime
    name: Uptime Sensor
    id: uptime_sensor
    update_interval: 60s
    on_raw_value:
      then:
        - text_sensor.template.publish:
            id: uptime_human
            state: !lambda |-
              int seconds = round(id(uptime_sensor).raw_state);
              int days = seconds / (24 * 3600);
              seconds = seconds % (24 * 3600);
              int hours = seconds / 3600;
              seconds = seconds % 3600;
              int minutes = seconds /  60;
              seconds = seconds % 60;
              return (
                (days ? to_string(days) + "d " : "") +
                (hours ? to_string(hours) + "h " : "") +
                (minutes ? to_string(minutes) + "m " : "") +
                (to_string(seconds) + "s")
              ).c_str();

time:
  - platform: homeassistant
    id: homeassistant_time

text_sensor:
  - platform: template
    name: "$friendly_name Uptime"
    id: uptime_human
    icon: mdi:clock-start
  - platform: wifi_info
    ip_address:
      name: "$friendly_name IP Address"
    ssid:
      name: "$friendly_name Connected SSID"
    bssid:
      name: "$friendly_name Connected BSSID"
    mac_address:
      name: "$friendly_name Mac Wifi Address"

switch:
  - platform: restart
    name: "$friendly_name - Restart"

binary_sensor:
  - platform: gpio
    pin:
      number: 25
      mode:
        input: true
        pullup: true
    name: "$friendly_name Toggle Button"
    filters:
      - delayed_off: 100ms

