# These substitutions allow for easy renaming
substitutions:
  name: "fridgefan"
  friendly_name: "Fridge FAN"

esphome:
  name: "${name}"
  friendly_name: "${friendly_name}"
  name_add_mac_suffix: false
  project:
    name: esphome.humid
    version: "1.0"

esp32:
  board: esp32-c3-devkitm-1
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "eHBqenozbm42T1NLem14RmJPY0dJQXI1ZHdCUWQwMDQ="

ota:
  - platform: esphome
    password: "OG1qeTZoMW8zaWRwZXdoM2toc3k="

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Fridge FAN Fallback Hotspot"
    password: "u2NAUb3K7Dnm"

web_server:
  port: 80
  version: 3

captive_portal:

fan:
  - platform: speed
    output: fan_id
    name: "$friendly_name - FAN"
    speed_count: 10
    restore_mode: ALWAYS_ON 

output:
  - platform: ledc
    pin: GPIO0
    id: fan_id
    #frequency: 1220 Hz
    min_power: 0.4
    #zero_means_zero: true

switch:
  - platform: restart
    name: "$friendly_name - Restart"

sensor:
  - platform: wifi_signal
    name: "$friendly_name WiFi Signal"
    update_interval: 60s
  - platform: pulse_counter
    name: "$friendly_name speed"
    update_interval: 2s
    pin: GPIO2
    unit_of_measurement: "RPM"

binary_sensor:
  - platform: status
    name: "$friendly_name Status"

text_sensor:
  - platform: wifi_info
    ip_address:
      name: "$friendly_name IP Address"
    ssid:
      name: "$friendly_name Connected SSID"
    bssid:
      name: "$friendly_name Connected BSSID"
    mac_address:
      name: "$friendly_name Mac Wifi Address"
  - platform: version
    name: "ESPHome Version"
    hide_timestamp: true