substitutions:
  name: air-quality
  platform: ESP8266
  board: d1_mini
  friendly_name: Air-Quality

esphome:
  name: $name

esp8266:
  board: $board

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  password: "0bc48fe4f42585c8f1b39126f24384be"
  platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "$friendly_name Fallback Hotspot"
    password: "GEwBFZ8qnbHl"

captive_portal:

uart:
  rx_pin: D2
  baud_rate: 9600

sensor:
  - platform: pm1006
    pm_2_5:
      name: "$friendly_name PM2.5µm "
      accuracy_decimals: 0
      filters:
        # https://esphome.io/components/sensor/index.html#sliding-window-moving-average
        - sliding_window_moving_average:
            window_size: 20
            send_every: 5      
  # do pomiaru zużycia energii
  # źródło: https://community.home-assistant.io/t/ikea-vindriktning-air-quality-sensor/324599/137
  - platform: template
    name: "$friendly_name - Power Usage"
    id: power_consumption
    device_class: power
    state_class: measurement
    unit_of_measurement: W
    accuracy_decimals: 4
    filters:
      - heartbeat: 60s
  - platform: integration
    name: "$friendly_name - Consumed Energy"
    sensor: power_consumption
    time_unit: 'h'
    device_class: energy
    state_class: total_increasing
    unit_of_measurement: 'Wh'
    restore: false
    integration_method: left

interval:
  # do pomiaru zużycua energii
  # współczynnik wg pomiarów
  # plus 10% do strat na zasilaczu
  - interval: 1min
    then:
      - sensor.template.publish:
          id: power_consumption
          state: 0.5696

switch:
  - platform: restart
    name: "$friendly_name Restart"