# These substitutions allow for easy renaming
substitutions:
  name: "humid"
  friendly_name: "Humid SonOff TH16"

esphome:
  name: "${name}"
  friendly_name: "${friendly_name}"
  project:
    name: esphome.humid
    version: "1.0"

esp8266:
  board: esp01_1m

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "VnQjffCnK9tZ4Tim1pbUiXCJjauhuejuPwIM/UXav38="

ota:
  - platform: esphome
    password: "34afd9d13b7238adcb9c2794a0209685"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Humid Fallback Hotspot"
    password: "EVHIIAMqsd8H"

web_server:
  port: 80
  version: 3

captive_portal:
    
# One-Wire for 2.5mm jack sensors
# one_wire:
# - platform: gpio
# pin: GPIO14

sensor:
  - platform: wifi_signal
    name: "$friendly_name WiFi Signal"
    update_interval: 60s
  - platform: dht
    model: Si7021
    pin: GPIO14
    humidity:
      name: "Humid Sensor Humidity"
      id: sensor_humid
      on_value:
        - if:
            condition:
                #'return (id(fan_relay).state == false) && (id(sensor_humid).state > id(humi_up).state);'
              lambda: |-
                    if ( id(local_switch_fan).state == true ) return false;
                    if ( (id(fan_relay).state == false) && (id(sensor_humid).state > id(humi_up).state) ) return true;
                    else return false;
            then:
              - logger.log: "Si7021: The Humid FAN switched on!"
              - switch.turn_on: fan_relay
              - delay: 2s
        - if:
            condition:
              #'return id(sensor_humid).state < id(humi_down).state;'
              lambda: |-
                    if ( id(local_switch_fan).state == true ) return false;
                    if ( (id(fan_relay).state == true) && (id(sensor_humid).state < id(humi_down).state) ) return true;
                    else return false;
            then:
              - logger.log: "Si7021: The Humid FAN switched off!"
              - switch.turn_off: fan_relay
              - delay: 2s
    temperature:
      name: "Humid Sensor Temperature"
    update_interval: 10s


binary_sensor:
  - platform: gpio
    pin:
      number: GPIO0
      mode: INPUT_PULLUP
      inverted: True
    name: "$friendly_name Button"
    on_press:
      - switch.toggle: fan_relay
  - platform: status
    name: "$friendly_name Status"

button:
  - platform: restart
    name: "$friendly_name Restart"
    entity_category: "diagnostic"

switch:
  - platform: gpio
    pin:
      number: GPIO12
    id: fan_relay
    name: "$friendly_name Fan Relay"
  - platform: template
    name: "Humid FAN"
    id: local_switch_fan
    turn_on_action:
      - switch.template.publish:
          id: local_switch_fan
          state: ON
      - logger.log: "FAN Relay: ON"
      - switch.turn_on: fan_relay
      - logger.log: "Start Timer by Humid FAN Switch"
      - script.execute: 
          id: timer_restart
          delay_s: !lambda 'return id(humi_time).state;'
    turn_off_action: 
      - switch.template.publish:
          id: local_switch_fan
          state: OFF
      - logger.log: "FAN Relay: OFF"
      - switch.turn_off: fan_relay
      # stop timer
      - logger.log: "Stop Timer by Humid FAN Switch"
      - script.stop: timer_restart

script:
  - id: timer_restart
    mode: restart
    parameters:
      delay_s: int
    then:
      - logger.log:
          format: "Timer set: %.1d"
          args: [ 'delay_s']
      - delay: !lambda return delay_s*1000;
      - logger.log: "Timer stop - time has passed"
      - switch.turn_off: local_switch_fan
      - switch.turn_off: fan_relay

output:
  - platform: esp8266_pwm
    id: blue_led
    pin:
      number: GPIO13
      inverted: True

light:
  - platform: monochromatic
    name: "$friendly_name Blue LED"
    id: light_blue_led
    restore_mode: RESTORE_DEFAULT_OFF
    output: blue_led

number:
  - platform: template
    name: "Humid FAN Activate"
    icon: "mdi:fan-chevron-up"
    id: humi_up
    min_value: 30
    max_value: 100
    step: 5
    optimistic: true
    restore_value: True
    initial_value: 80
  - platform: template
    name: "Humid FAN Deactivate"
    icon: "mdi:fan-chevron-down"
    id: humi_down
    min_value: 30
    max_value: 100
    step: 5
    optimistic: true
    restore_value: True
    initial_value: 70
  - platform: template
    name: "Humid FAN Time Duration"
    icon: mdi:timer-refresh-outline
    id: humi_time
    min_value: 15
    max_value: 600
    step: 5
    optimistic: True
    restore_value: True
    initial_value: 180
